.colorbtn{
    border: none;
    outline: none ;
    background-color: var(--main, #040D5F);

}
input[type='file']{
    display: none;

}
label{
    color: white;
    width: 100%;
background-color: #EEEEEE;
cursor: pointer;
}
.imguploaded{
    width: 30px;
    height: 30px;

}
.colorinput{
    background-color: #fefefe;
}
